body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

label {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
}

input {
  width: 298px;
  height: 43px;
  margin-bottom: 29px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
  background-color: #fcf9f9;
  padding-left: 10px;
  box-sizing: border-box;
}

.inputWithEyeIcon {
  position: relative;
}

#icon {
  color: #615f6b;
  position: absolute;
  right: 10px;
  top: 33px;
}

.border {
  border: red 1px solid;
}

p {
  color: red;
  margin-bottom: 23px;
  font-size: 12px;
}

button {
  width: 298px;
  height: 43px;
  border-style: none;
  background-color: #5c47d3;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 110px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 6px #999;
}

button:hover {
  background-color: #5541a1;
}

button:active {
  background-color: #5541a1;
  box-shadow: 0 3px #706f6f, inset 0 0 15px #221b41;
  transform: translateY(3px);
}

footer {
  display: flex;
  justify-content: center;
}

footer > p {
  color: #000;
  font-size: 15px;
}

span {
  font-weight: bold;
}

.stepTwo {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.stepTwo > div {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 5px;
}

.stepTwo > div > p {
  color: #000;
  font-size: 16px;
}
